

.star {
  width: 1px;
  height: 1px;
  background-color: transparent;
  box-shadow: 573px 610px #fff, 72px 780px #fff, 773px 345px #fff, 1172px 19px #fff, 119px 793px #fff, 1194px 942px #fff, 154px 994px #fff, 1362px 823px #fff, 786px 40px #fff, 1768px 376px #fff, 533px 446px #fff, 1016px 355px #fff, 1172px 661px #fff, 700px 871px #fff, 342px 136px #fff, 541px 749px #fff, 265px 525px #fff, 1182px 133px #fff, 920px 261px #fff, 1033px 942px #fff, 41px 837px #fff, 645px 586px #fff, 1537px 413px #fff, 1588px 107px #fff, 1111px 12px #fff, 1188px 948px #fff, 1055px 53px #fff, 781px 415px #fff, 855px 769px #fff, 1103px 532px #fff, 1476px 406px #fff, 650px 604px #fff, 536px 670px #fff, 348px 375px #fff, 604px 168px #fff, 1621px 912px #fff, 1712px 714px #fff, 950px 121px #fff, 1235px 355px #fff, 544px 224px #fff, 178px 75px #fff, 78px 139px #fff, 1297px 63px #fff, 841px 503px #fff, 339px 593px #fff, 484px 135px #fff, 255px 825px #fff, 1558px 374px #fff, 940px 981px #fff, 1059px 5px #fff, 354px 839px #fff, 251px 88px #fff, 1861px 349px #fff, 1637px 551px #fff, 144px 684px #fff, 1901px 856px #fff, 177px 755px #fff, 696px 547px #fff, 1858px 426px #fff, 859px 88px #fff, 1163px 264px #fff, 1034px 8px #fff, 1462px 575px #fff, 560px 406px #fff, 1225px 277px #fff, 1096px 341px #fff, 592px 24px #fff, 651px 759px #fff, 1391px 867px #fff, 1374px 531px #fff, 1368px 381px #fff, 1064px 345px #fff, 1191px 399px #fff, 15px 296px #fff, 819px 417px #fff, 819px 391px #fff, 111px 587px #fff, 1123px 28px #fff, 670px 545px #fff, 355px 441px #fff, 1109px 886px #fff, 1239px 689px #fff, 1724px 903px #fff, 972px 116px #fff, 656px 596px #fff, 1178px 560px #fff, 1877px 428px #fff, 1220px 464px #fff, 1009px 537px #fff, 1250px 843px #fff, 1863px 141px #fff, 1199px 170px #fff, 1486px 417px #fff, 1688px 884px #fff, 284px 731px #fff, 629px 605px #fff, 126px 228px #fff, 1410px 840px #fff, 876px 696px #fff, 792px 220px #fff, 1484px 397px #fff, 462px 363px #fff, 1465px 518px #fff, 50px 234px #fff, 779px 470px #fff, 985px 914px #fff, 1698px 377px #fff, 593px 49px #fff, 1852px 290px #fff, 139px 653px #fff, 99px 732px #fff, 1476px 622px #fff, 1104px 717px #fff, 1758px 149px #fff, 886px 247px #fff, 1302px 987px #fff, 1702px 736px #fff, 148px 481px #fff, 628px 95px #fff, 794px 828px #fff, 253px 127px #fff, 589px 524px #fff, 515px 183px #fff, 500px 486px #fff, 1779px 106px #fff, 1082px 70px #fff, 940px 50px #fff, 1874px 274px #fff, 663px 935px #fff, 78px 410px #fff, 138px 385px #fff, 981px 959px #fff, 97px 694px #fff, 196px 909px #fff, 731px 715px #fff, 225px 123px #fff, 1311px 235px #fff, 311px 637px #fff, 386px 148px #fff, 357px 961px #fff, 1834px 504px #fff, 1541px 711px #fff, 430px 851px #fff, 1844px 590px #fff, 807px 842px #fff, 1442px 578px #fff, 1567px 801px #fff, 146px 544px #fff, 1196px 470px #fff, 546px 711px #fff, 1629px 648px #fff, 1541px 127px #fff, 1416px 811px #fff, 1555px 605px #fff, 1439px 289px #fff, 813px 263px #fff, 28px 148px #fff, 1226px 952px #fff, 140px 381px #fff, 1174px 437px #fff, 10px 549px #fff, 1109px 108px #fff, 1783px 341px #fff, 1877px 272px #fff, 627px 663px #fff, 275px 151px #fff, 1180px 596px #fff, 1338px 689px #fff, 1705px 459px #fff, 174px 912px #fff, 102px 839px #fff, 580px 556px #fff, 148px 530px #fff, 277px 622px #fff, 720px 257px #fff, 1261px 927px #fff, 1127px 941px #fff, 935px 867px #fff, 142px 125px #fff, 1755px 819px #fff, 1414px 350px #fff, 1714px 159px #fff, 598px 601px #fff, 1066px 162px #fff, 405px 165px #fff, 1800px 356px #fff, 1402px 858px #fff, 827px 69px #fff, 111px 236px #fff, 239px 964px #fff, 1872px 648px #fff, 842px 914px #fff, 669px 394px #fff, 1102px 721px #fff, 1171px 286px #fff, 807px 392px #fff, 1546px 102px #fff, 1209px 764px #fff, 1721px 409px #fff, 914px 902px #fff, 1119px 752px #fff, 818px 877px #fff, 14px 597px #fff, 1429px 833px #fff, 1025px 521px #fff, 880px 116px #fff, 983px 227px #fff, 805px 969px #fff, 1581px 655px #fff, 195px 172px #fff, 297px 456px #fff, 930px 679px #fff, 59px 137px #fff, 884px 506px #fff, 1323px 47px #fff, 884px 464px #fff, 1830px 353px #fff, 131px 1000px #fff, 1473px 900px #fff, 1451px 787px #fff, 280px 508px #fff, 1101px 719px #fff, 1141px 181px #fff, 341px 109px #fff, 737px 884px #fff, 1499px 324px #fff, 843px 343px #fff, 1777px 840px #fff, 1727px 907px #fff, 331px 542px #fff, 774px 376px #fff, 1078px 447px #fff, 769px 410px #fff, 1545px 220px #fff, 499px 311px #fff, 869px 920px #fff, 1034px 603px #fff, 1215px 694px #fff, 1212px 40px #fff, 389px 734px #fff, 491px 139px #fff, 636px 519px #fff, 1383px 811px #fff, 1386px 223px #fff, 1749px 143px #fff, 1606px 629px #fff, 389px 866px #fff, 383px 426px #fff, 147px 381px #fff, 1244px 674px #fff, 260px 474px #fff, 380px 810px #fff, 299px 359px #fff, 186px 888px #fff, 1028px 868px #fff, 705px 579px #fff, 1359px 596px #fff, 623px 432px #fff, 806px 947px #fff, 661px 486px #fff, 660px 878px #fff, 1667px 490px #fff, 951px 363px #fff, 964px 910px #fff, 1251px 393px #fff, 1094px 939px #fff, 1670px 156px #fff, 126px 896px #fff, 881px 269px #fff, 1175px 651px #fff, 243px 362px #fff, 1914px 751px #fff, 118px 602px #fff, 716px 394px #fff, 1371px 195px #fff, 26px 119px #fff, 1870px 192px #fff, 1780px 975px #fff, 1269px 604px #fff, 1214px 291px #fff, 858px 23px #fff, 229px 568px #fff, 646px 716px #fff, 39px 37px #fff, 928px 996px #fff, 936px 211px #fff, 367px 441px #fff, 856px 771px #fff, 508px 851px #fff, 1383px 180px #fff, 170px 47px #fff, 1224px 25px #fff, 629px 825px #fff, 1891px 851px #fff, 934px 816px #fff, 246px 115px #fff, 114px 553px #fff, 1160px 85px #fff, 231px 387px #fff, 1731px 376px #fff;
}

.meteor-1 {
  position: absolute;
  top: 60px;
  left: 84%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 10s linear infinite;
          animation: meteor 10s linear infinite;
}
.meteor-1::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-2 {
  position: absolute;
  top: 141px;
  left: 39%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 12.9s linear infinite;
          animation: meteor 12.9s linear infinite;
}
.meteor-2::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-3 {
  position: absolute;
  top: 168px;
  left: 17%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 11.5s linear infinite;
          animation: meteor 11.5s linear infinite;
}
.meteor-3::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-4 {
  position: absolute;
  top: 121px;
  left: 54%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 18.5s linear infinite;
          animation: meteor 18.5s linear infinite;
}
.meteor-4::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-5 {
  position: absolute;
  top: 120px;
  left: 12%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 28.4s linear infinite;
          animation: meteor 28.4s linear infinite;
}
.meteor-5::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-6 {
  position: absolute;
  top: 262px;
  left: 75%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 27s linear infinite;
          animation: meteor 27s linear infinite;
}
.meteor-6::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-7 {
  position: absolute;
  top: 143px;
  left: 32%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 18.2s linear infinite;
          animation: meteor 18.2s linear infinite;
}
.meteor-7::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-8 {
  position: absolute;
  top: 207px;
  left: 67%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 21.1s linear infinite;
          animation: meteor 21.1s linear infinite;
}
.meteor-8::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-9 {
  position: absolute;
  top: 225px;
  left: 68%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 22.4s linear infinite;
          animation: meteor 22.4s linear infinite;
}
.meteor-9::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-10 {
  position: absolute;
  top: 161px;
  left: 60%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 28s linear infinite;
          animation: meteor 28s linear infinite;
}
.meteor-10::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-11 {
  position: absolute;
  top: 152px;
  left: 46%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 24.3s linear infinite;
          animation: meteor 24.3s linear infinite;
}
.meteor-11::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-12 {
  position: absolute;
  top: 102px;
  left: 78%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 28.8s linear infinite;
          animation: meteor 28.8s linear infinite;
}
.meteor-12::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-13 {
  position: absolute;
  top: 64px;
  left: 23%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 5s linear infinite;
          animation: meteor 5s linear infinite;
}
.meteor-13::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-14 {
  position: absolute;
  top: 153px;
  left: 73%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 4.6s linear infinite;
          animation: meteor 4.6s linear infinite;
}
.meteor-14::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-15 {
  position: absolute;
  top: 122px;
  left: 40%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 5.3s linear infinite;
          animation: meteor 5.3s linear infinite;
}
.meteor-15::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-16 {
  position: absolute;
  top: 193px;
  left: 91%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 31.3s linear infinite;
          animation: meteor 31.3s linear infinite;
}
.meteor-16::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-17 {
  position: absolute;
  top: 229px;
  left: 44%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 31.9s linear infinite;
          animation: meteor 31.9s linear infinite;
}
.meteor-17::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-18 {
  position: absolute;
  top: 259px;
  left: 43%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 24.9s linear infinite;
          animation: meteor 24.9s linear infinite;
}
.meteor-18::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-19 {
  position: absolute;
  top: 185px;
  left: 42%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 29.2s linear infinite;
          animation: meteor 29.2s linear infinite;
}
.meteor-19::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-20 {
  position: absolute;
  top: 149px;
  left: 73%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 24.6s linear infinite;
          animation: meteor 24.6s linear infinite;
}
.meteor-20::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-21 {
  position: absolute;
  top: 280px;
  left: 84%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 29.6s linear infinite;
          animation: meteor 29.6s linear infinite;
}
.meteor-21::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-22 {
  position: absolute;
  top: 293px;
  left: 70%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 29.4s linear infinite;
          animation: meteor 29.4s linear infinite;
}
.meteor-22::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-23 {
  position: absolute;
  top: 250px;
  left: 93%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 13.3s linear infinite;
          animation: meteor 13.3s linear infinite;
}
.meteor-23::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-24 {
  position: absolute;
  top: 154px;
  left: 11%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 16.1s linear infinite;
          animation: meteor 16.1s linear infinite;
}
.meteor-24::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-25 {
  position: absolute;
  top: 253px;
  left: 76%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 17.7s linear infinite;
          animation: meteor 17.7s linear infinite;
}
.meteor-25::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

@-webkit-keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=styles.css.map */